<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a16254868.motoristaasteroide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Asteroide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeMotoristaActivity"
            android:label="Asteroide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilMotoristaActivity"
            android:label="Perfil"
            android:parentActivityName=".HomeMotoristaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.motoristaasteroide.HomeMotoristaActivity" />
        </activity>
        <activity
            android:name=".QRCodeMotoristaActivity"
            android:label="QRCode"
            android:parentActivityName=".HomeMotoristaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.motoristaasteroide.HomeMotoristaActivity" />
        </activity>
        <activity
            android:name=".NotificacaoMotoristaActivity"
            android:label="Notificacao"
            android:parentActivityName=".HomeMotoristaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.motoristaasteroide.HomeMotoristaActivity" />
        </activity>
        <activity
            android:name=".LocalizacaoMotoristaActivity"
            android:label="Localização"
            android:parentActivityName=".HomeMotoristaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.motoristaasteroide.HomeMotoristaActivity" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>